body{
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
  }
 
.round-icard img {
    margin: 0 auto;
    display: block;
    height: 130px;
}

.round-icard h4 {
    /* margin-top: 20px; */
}

.container-3 .round-icard h4 {
    color: #ffe9d7;
    font-weight: 500;
}

.container-3 .round-icard h6 {
    color: #5C4033;
    /* font-style: italic; */
    /* margin-bottom: 40px; */
}

.caption .round-icard h4 {
    font-size: 15px;
    color: #333;
}

.caption .round-icard h6 {
    font-size: 30px;
    color:#8d6e63;
    width:100%;
    margin-bottom: 50px;
    
}


.container-3 {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
}

.content div {
    margin: 10px;
}

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.location {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #8d6e63; 
    padding: 15px 10px;
    color: #ffffff;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    flex-wrap: nowrap; 
    max-width: 1200px; 
    margin: 0 auto;
}

.footer .round-icard {
    background-color: #927d75; 
    border-radius: 10px;
    padding: 15px; 
    width: 200px; 
    height: 100px; 
    margin: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .round-icard:hover {
    transform: translateY(-5px);
    background-color: #cbb29b; }

.footer .round-icard h4 {
    color: #f5e6dc; 
    font-weight: bold;
    font-size: 14px; 
    margin-bottom: 5px; 
    word-wrap: break-word; 
}

.footer .round-icard h6 {
    font-size: 12px; 
    color: #e0e0e0;
    word-wrap: break-word;
    margin-bottom: 10px;
}

@media (max-width: 1200px) {
    .footer-content {
        flex-wrap: wrap; 
    }
}